@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");

.center {
  text-align: center;
}
.pad {
  padding: 2vw;
}
.bord {
  border: 2px solid #3b3633;
}
body {
  margin: 2vw;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(198, 198, 198, 1) 100%
  );
  color: #3b3633;
}
.head {
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
.heady {
  font-family: "Chomsky", sans-serif;
  font-size: 60px;
}
.bodytext {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
.addn {
  text-align: center;
  margin-top: 2rem;
  font-size: 4vw;
  font-family: "Times New Roman", Times, serif;
  transition: 1s ease-in-out;
  outline: none;
}
.addn:hover {
  transition: 1s ease-in-out;
  background: #adadad;
  box-shadow: 0vw 0vw 3vw 2vw #a5a5a5;
}
.addn:active {
  border: .5vw whi;
}
.addn2 {
  text-align: center;
  margin-top: 2rem;
  font-size: 3vw;
  transition: 1s ease-in-out;
  outline: none;
  font-family:Georgia, 'Times New Roman', Times, serif;
  border: .01rem solid #3b3633;
  margin-bottom: 4vw;
}
.addn2:hover {
  transition: 1s ease-in-out;
  background: #adadad;
  box-shadow: 0vw 0vw 3vw 2vw #a5a5a5;
}
.addn2:active {
  border: .5vw whi;
}
.addn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
.times {
  font-family: 'Times New Roman', Times, serif;
}
.cir {
  border-radius: 2vw;
}
.spe {
  font-size: 5vw;
  box-shadow: inset 0vw 0vw 2vw rgb(255, 232, 150);
}
  /* Define the animation */
  @keyframes buildUpAnimation {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Apply the animation to list items */
  .list-group-item {
    animation: buildUpAnimation 0.5s ease-out;
  }